@font-face {
    font-family: "myFirstFont";
    src: url(timeburnernormal.ttf);
}


#page { max-width: 940px; margin: 0 auto; position: relative; }

body { 
	font-family: "myFirstFont";
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

h1 {
	font-size:  4em;
}

p {
	font-size: 1.5em;
}

.banner {
  background: white url(../img/banner.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-bottom: 40%;
  min-height: 600px;
  letter-spacing: 2px;
    z-index: -1;
}
#nameonbanner {
    z-index: 9999;
    margin-top: -100px;
    font-size: 5vw;
    text-align: center;
}
#name { 
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 5em;
    padding-top: 180px;
    text-align: center;
    color: black;
	font-family: "myFirstFont";
}
	#intro{
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 1.5em;
 
    text-align: center;
    color: black;
	font-family: "myFirstFont";
	}


#nav-icon a {
	background:url("../img/face-computer.png") no-repeat 0px  transparent; 
	padding-right: 950px;
	margin-left: 100px;
	padding-bottom: 10px;
	padding-top: 350px;

}

#nav-about a {
	padding-right: 90px; 
    padding-top: 60px;
    padding-bottom: 30px;
}

#nav-works a {
	padding-right: 90px; 
    padding-top: 60px;
    padding-bottom: 30px;
}

#nav-achievements a {
	padding-right: 90px; 
    padding-top: 60px;
    padding-bottom: 30px;
}

section{
	text-align: center;

}

footer {
	clear: both;
	padding: 10px 15px;
    text-align: center;
}



/* This is from w3schools:
http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img 
I used the same code, but made changes to match my website
/*

/* Computer 1800*/ /* Computer 1800*/ /* Computer 1800*/ /* Computer 1800*/ /* Computer 1800*/

/* When the screen is less than 1800 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 1770px) {

.banner {
  background: white url(../img/banner.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-top: 20%;
  padding-bottom: 20%;
  min-height: 500px;
  letter-spacing: 2px;
    z-index: -1;
}

	
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width: 1770px) {

#name { 
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 4em;
    padding-top: 150px;
    text-align: center;
    color: black;
	font-family: "myFirstFont";
}
	#intro{
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 1.5em;
 
    text-align: center;
    color: black;
	font-family: "myFirstFont";
	}




#nav-icon a {
	background:url("../img/face-computer.png") no-repeat 0px  transparent; 
	padding-right: 650px;
	margin-left: 100px;
	padding-bottom: 10px;
	padding-top: 350px;

}

#nav-about a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
}

#nav-works a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
}

#nav-achievements a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
}
    
}


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

    



/* Computer 1800*/ /* Computer 1800*/ /* Computer 1800*/ /* Computer 1800*/ /* Computer 1800*/

/* When the screen is less than 1800 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 1400px) {

.banner {
  background: white url(../img/banner.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-top: 20%;
  padding-bottom: 20%;
  min-height: 300px;
  letter-spacing: 2px;
    z-index: -1;
}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width: 1400px) {

#name { 
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 4em;
    padding-top: 150px;
    text-align: center;
    color: black;
	font-family: "myFirstFont";
}
	#intro{
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 1.5em;
 
    text-align: center;
    color: black;
	font-family: "myFirstFont";
	}




#nav-icon a {
	background:url("../img/face-computer.png") no-repeat 0px  transparent; 
	padding-right: 350px;
	margin-left: 100px;
	padding-bottom: 10px;
	padding-top: 350px;

}

#nav-about a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
}

#nav-works a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
}

#nav-achievements a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
}
    
}
    

    /* Ipad*/  /* Ipad*/  /* Ipad*/  /* Ipad*/  /* Ipad*/  /* Ipad*/ 

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #50BDDA;
	
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	font-size: 2.1em;
}

#name { 
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 4em;
    padding-top: 150px;
    text-align: center;
    color: black;
	font-family: "myFirstFont";
}
	#intro{
	font: italic bold x-large georgia,"Times New Roman",serif;
	font-size: 1.5em;
 
    text-align: center;
    color: black;
	font-family: "myFirstFont";
	}




/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #0CCCFF;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 1090 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 1090px) {

.banner {
  background: white url(../img/banner.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-top: 20%;
  padding-bottom: 20%;
  min-height: 300px;
  letter-spacing: 2px;
}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width: 1090px) {


#nav-icon a {
	background:url("../img/face-ipad.png") no-repeat 0px  transparent; 
	padding-right: 180px;
	margin-left: 80px;
	padding-bottom: 100px;
	padding-top: 100px;

}
    
#nav-about a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
}

#nav-works a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
}

#nav-achievements a {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
}
    

}
	



/* Phone */ /* Phone */ /* Phone */ /* Phone */ /* Phone */ /* Phone */


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:800px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
		body{
		background-size:  100%;
		background-position: top;
	}
	
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:800px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
	h1{
		font-size: 2em;
	}
	.hero{
	}
	ul.topnav li a{
		font-size: 1em;
	}
	#nav-icon a {
	background:url("../img/face-phone.png") no-repeat 0px  transparent; 
	padding-right: 50px;
	margin-left: 40px;
	padding-bottom: 39px;
	padding-top: 50px;
	}
	
#nameonbanner {
    z-index: 9999;
    margin-top: -30px;
    font-size: 5vw;
    text-align: center;
}
#nav-works a {
	font-size: 2em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav-achievements a {
	font-size: 2em;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
.banner {
  background: white url(../img/banner.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-top: 20%;
  padding-bottom: 20%;
  min-height: 200px;
  letter-spacing: 2px;
}
    p{
        font-size: 1.2em;
    }
    


}

	
	
	
	